[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ltxsparklines"]
	path = ltxsparklines
	url = https://github.com/borisveytsman/ltxsparklines
